.box_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: solid 3px #eaecf0;
    border-radius: 1.2rem;
    padding: 4px;
    background-color: #ffffff;
}

.box_nav button{
    margin: 3px;
}

.box_nav h1{
    color: #929292;
    margin: 0;
    font-size: 1.8rem;
    padding-left: 15px;
    align-items: center;
}