.box_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom:solid 2px #242422;
    padding: 4px;
}

.box_nav button{
    margin: 3px;
}

.box_nav h1{
    color: #242422;
    margin: 0;
    font-size: 1.8rem;
    padding-left: 15px;
    align-items: center;
}