.box_detail{
    width: 97vw;
    height: 81%;
    background-image: url('./../../assets/F1.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    background-size: 60%;
    display: flex;
}

.box_info{
    width: 40%;
}

.box_info img{
    width: 170px;
    border-radius: 50%;
    border: solid 5px #ffffff;
}

.box_info h1{
    margin:0;
    font-size: 4rem;
}

.box_info h2{
    margin-top: 0;
}

.box_items{
    display: flex;
    justify-content: center;
    width: 60%;
}

.item_left{
    text-align: right;
    padding-right: 15px;
}

.item_left h2{
    margin: 0;
    padding: 0;
}

.item_rigth{
    text-align: left;
    padding-left: 15px;
}

.item_rigth h2 {
    margin: 0; 
    padding: 0;
}