.box_landing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-left: 1rem;
    width: 98vw;
    height: 100%;
    background-image: url('./../../assets/F1.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    background-size: 70%;
}

.box_landing h1{
    font-size: 7rem;
    margin: 0;
}